h1 {
  text-align: center;
  font-family: cursive;
}
.img-space {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 50px;
}

#scores {
  background-color: cyan;
  padding-left: 10px;
  line-height: 50%;
}

.image-one {
  background-color: black;

}
.image-two {
  background-color: black;

}
.image-three {
  background-color: black;

}
img {
  height: 200px;
}
